.card-info{
    flex-direction: column;
}
.cardholder-img{
    height: 300px;
    width: 100%;
    background-image: url('../images/sara.png');
    background-position: center;
    background-size: cover;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius:var(--border-radius) ;
}
.cardholder-name{
    margin:20px 0 6px;
    font-size: 25px;
    font-weight: 700;
    color: var(--big-text);
}
.cardholder-role{
    font-size: 13px;
    margin-bottom: 10px;
    color:#F3BF99;
    font-weight: 400;
}
.cardholder-site {
    margin-bottom: 15px;
}
.cardholder-site a{
    text-decoration: none;
    color: var(--small-text);;
}
button{
    outline: 0;
    border: 0;
}
.button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding-inline: 2rem;
    margin-bottom: 2rem;
   
}
.btn{
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    flex-grow: 1;
    padding-block: 1rem;    
    border-radius: 8px;
    border: 1px solid var(--small-text);
}
.btn > i{
    margin-right:8px ;
}
.email-btn{
    background-color: #fff;
}
.linkedin-btn{
    background-color: #297FE5;
}

/* -------------------end ----------------- */

/* ------------------------card about---------------- */
.contain{
    width: 80%;
    margin-inline: auto;
    
}
.section-title{
    color: var(--big-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.section-info{
    color: var(--small-text);
    font-size: 11px;
    font-weight: 400;
    
}
.mb-2{
    margin-bottom: 2rem;
}

/* --------------footer----------- */
.card-footer{
    background:var(--bg-footer);
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    padding: 1rem;

}
.links{
    display: flex;
   justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-inline: auto;
}
.link{
    width: 25px;
   
}